<ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="每日精选" on-select="">
        <ion-content lazy-scroll id="product">
            <div ng-if="productSearch.searching" style="text-align: center;padding-top: 10px;">
                <ion-spinner ng-if="productSearch.searching" icon="ios"></ion-spinner>
            </div>
            <div class="taobao-header">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="输入关键词搜索" ng-model="productSearch.searchKey" ng-enter="productDoRefresh(true)">
                     </label>
                </div>
            </div>
            <ion-refresher pulling-text="下拉更新..." on-refresh="productDoRefresh(false)">
            </ion-refresher>
            <div deckgrid class="deckgrid" source="productItems" cardTemplateString='
                <ul class="list">
                    <li class="eslite-border">
                        <div class="img-container">
                            <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg" image-lazy-src="{{card.image}}" image-lazy-distance-from-bottom-to-load="200"/>
                        </div>
                        <div class="bottom-panel">
                            <div class="spotlite-name">
                                <div class="name">
                                    <img class="tmall-icon" src="http://auz.qnl1.com/open/quan/images/taobao.png">
                                    {{card.title}}
                                </div>
                            </div>
                            <div class="sell-price">
                                <span class="item-market-price">￥{{card.market_price}}</span>
                                <span class="item-discount-price">券后<i>{{card.discount_price}}</i></span>
                                <span class="item-save-price">优惠<i>{{card.save_price}}</i></span>
                            </div>
                            <div class="sell-price">
                                <span class="mail-icon">包邮</span>
                                <span class="item-sell-num">月销量{{card.sell_num}}</span>
                            </div>
                            <button class="quan-btn" ng-click="mother.productShowPopup(card.quan)" data-clipboard-action="copy" data-clipboard-text="{{card.quan}}">
                                <span class="quan-text-icon">领券购买</span>
                            </button>
                        </div>
                    </li>
                </ul>'
            ></div>
            <ion-infinite-scroll immediate-check="false" on-infinite="productLoadMore()" ng-if="!productNoMoreData" icon="ion-load-d" distance="1%">
            </ion-infinite-scroll>
        </ion-content>    
</ion-tab>
    <ion-tab title="达人潮玩" on-select="darenDoRefresh(false)">
        <ion-header-bar ng-if="darenStatus.showDetail">
            <div class="buttons">
                <button class="button icon-left ion-chevron-left button-clear button-dark"
                        ng-click="darenStatus.showDetail=false">Back</button>
            </div>
            <h1 class="title">达人详情</h1>
        </ion-header-bar>
        <ion-content ng-show="darenStatus.showDetail" style="padding-top:47px; padding-left:4px; padding-right:4px; padding-bottom:4px;" delegate-handle="darenDetailScroll">
            <ion-list>
                <ion-item>
                    <h2 class="text-center">{{darenStatus.currDaren.title}}</h2>
                    <br/>
                    <div ng-bind-html="darenStatus.currDaren.content" class="item-detail"></div>
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-header-bar ng-if="!darenStatus.showDetail">
            <h1 class="title">达人分享</h1>
            <div class="buttons">
                <button class="button button-clear button-dark" ng-click="scrollToTop('darenScroll')">
                    TOP
                    <button class="button button-clear button-dark ion-chevron-up"></button>
                </button>
            </div>
        </ion-header-bar>
        <ion-content lazy-scroll ng-show="!darenStatus.showDetail" style="padding-top:41px;" delegate-handle="darenScroll">
            <ion-refresher pulling-text="下拉更新..." on-refresh="darenDoRefresh(false)">
            </ion-refresher>
            <div deckgrid class="deckgrid" source="darenItems" cardTemplateString='
                <ul class="list">
                    <li class="eslite-border" ng-click="mother.darenDetail({{card.id}})">
                        <div class="img-container">
                            <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg" image-lazy-src="{{card.image}}" image-lazy-distance-from-bottom-to-load="200"/>
                        </div>
                        <div class="bottom-panel">
                            <div class="spotlite-name">
                                <div class="name">
                                    {{card.title}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>'
            ></div>
            <ion-infinite-scroll immediate-check="false" on-infinite="darenLoadMore()" ng-if="!darenNoMoreData" icon="ion-load-d" distance="1%">
            </ion-infinite-scroll>
        </ion-content>    
    </ion-tab>
    <ion-tab title="个人中心">
        <ion-header-bar>
            <h1 class="title">个人中心</h1>
        </ion-header-bar>
        <ion-content class="content" style="padding: 4px;">
            <ion-list>
                <a class="item item-avatar item-icon-right" ng-click="">
                    <img src="http://7fvbl4.com1.z0.glb.clouddn.com/head.png"/>
                    <h2><span>公公公愚</span></h2>
                    <p>积分：<span>996</span></p>
                    <i class="icon ion-ios-arrow-right"></i>
                </a> 
                <div class="item item-icon-right">
                    <span>积分详情</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
                <div class="item item-icon-right">
                    <span>订单详情</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
                <ion-item>
                    邮箱 
                    <span class="item-note">xysmiracle@hotmail.com</span>
                </ion-item>
                <ion-item>
                    微信 
                    <span class="item-note">xysmiracle</span>
                </ion-item>
                <ion-item>
                    账户 
                    <span class="item-note">fifa2002nb</span>
                </ion-item>
                <ion-item>
                    联系客服
                    <span class="item-note">微信号：fastorz</span>
                </ion-item>
                <ion-item class="text-center">
                    <img src="http://7fvbl4.com1.z0.glb.clouddn.com/qrcode.png" style="width:50%;"/>
                    <br> @www.sodeyixia.xyz
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-tab>
</ion-tabs>

