<div style="font-size:16px;text-align:center;">
    输入【支付宝账号】，客服在1小时内提现【积分】到账户。（变现规则见【规则说明】）
</div>
<br/>
<div style="font-size:16px;text-align:center;color:#eb4e53;" ng-show="currUser.onFail">
    请输入有效【支付宝】账号，比如：xysmiracle@gmail.com。 
</div>
<br/>
<input type="text" ng-model="currUser.alipayAccount">
<br/>
<table style="width:100%;">
    <tr class="row">
        <td class="col">可提现订单数：{{currUser.shippedCount}}</td>
        <td class="col">可提现积分数：{{currUser.shippedPoints}}</td>
    </tr>
    <tr class="row header" ng-if="0<currUser.orders.length">
        <th class="col">订单日期</th>
        <th class="col">订单号码</th>
        <th class="col">订单状态</th>
        <th class="col">订单积分</th>
    </tr>
    <tr class="row" ng-repeat="order in currUser.orders">
        <td class="col" ng-show="'可提现'==order.state">{{order.date}}</td>
        <td class="col" ng-show="'可提现'==order.state">{{order.orderNumber}}</td>
        <td class="col" ng-show="'可提现'==order.state">{{order.state}}</td>
        <td class="col" ng-show="'可提现'==order.state">{{order.points}}</td>
    </tr>
</table>
