<table style="width:100%;">
    <tr class="row">
        <td class="col">提现中订单数：{{currUser.payingCount}}</td>
        <td class="col">提现中积分数：{{currUser.payingPoints}}</td>
    </tr>
    <tr class="row">
        <td class="col">已提现订单数：{{currUser.paidCount}}</td>
        <td class="col">已提现积分数：{{currUser.paidPoints}}</td>
    </tr>
    <tr class="row">
        <td class="col">可提现订单数：{{currUser.shippedCount}}</td>
        <td class="col">可提现积分数：{{currUser.shippedPoints}}</td>
    </tr>
</table>
<table ng-if="0<currUser.orders.length">
    <tr class="row header">
        <th class="col">订单日期</th>
        <th class="col">订单号码</th>
        <th class="col">订单状态</th>
        <th class="col">订单积分</th>
        <th class="col">订单操作</th>
    </tr>
    <tr class="row" ng-repeat="order in currUser.orders">
        <td class="col">{{order.date}}</td>
        <td class="col">{{order.orderNumber}}</td>
        <td class="col">{{order.state}}</td>
        <td class="col">{{order.points}}</td>
        <td class="col"><u ng-show="'已提现'==order.state">删除</u></td>
    </tr>
</table>
