<!DOCTYPE html>
<html ng-app="FastORZ">

<head>
    <title>{{'fastorz'|translate}}</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ionic/ionic.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4921da79285134f7c1f8a784ab6412cc";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body ng-controller="FastORZCtrl">
    <ui-view/>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="/static/js/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/lib/clipboard/clipboard.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-translate/angular-translate.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script type="text/javascript" src="/static/js/lib/ionic/ionic.js"></script>
    <script type="text/javascript" src="/static/js/lib/ionic/ionic-angular.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-deckgrid/angular-deckgrid.js"></script>
    <script type="text/javascript" src="/static/js/lib/ionic-image-lazy-load/ionic-image-lazy-load.js"></script>
    <script type="text/javascript" src="/static/js/fastorz.js"></script>

    <script id="show.html" type="text/ng-template">
        <ion-content class="content" lazy-scroll>
            <div ng-if="search.searching" style="text-align: center;padding-top: 10px;">
                <ion-spinner ng-if="search.searching" icon="ios"></ion-spinner>
            </div>
            <div class="taobao-header">
                <div class="list">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="输入关键词搜索" ng-model="search.searchKey" ng-enter="doRefresh(true)">
                     </label>
                </div>
            </div>
            <ion-refresher pulling-text="下拉更新..." on-refresh="doRefresh(false)">
            </ion-refresher>
            <div deckgrid class="deckgrid" source="items" cardTemplateString='
                <ul class="list">
                    <li class="eslite-border">
                        <div class="img-container">
                            <img src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg" image-lazy-src="{{card.image}}" image-lazy-distance-from-bottom-to-load="200"/>
                        </div>
                        <div class="bottom-panel">
                            <div class="spotlite-name">
                                <div class="name">
                                    <img class="tmall-icon" src="http://auz.qnl1.com/open/quan/images/taobao.png">
                                    <div>{{card.title}}</div>
                                </div>
                            </div>
                            <div class="sell-price">
                                <span class="item-market-price">￥{{card.market_price}}</span>
                                <span class="item-discount-price">券后<i>{{card.discount_price}}</i></span>
                                <span class="item-save-price">优惠<i>{{card.save_price}}</i></span>
                            </div>
                            <div class="sell-price">
                                <span class="mail-icon">包邮</span>
                                <span class="item-sell-num">月销量{{card.sell_num}}</span>
                            </div>
                            <button class="quan-btn" ng-click="mother.showPopup()" data-clipboard-action="copy" data-clipboard-text="{{card.quan}}">
                                <span class="quan-text-icon">领券购买</span>
                            </button>
                        </div>
                    </li>
                </ul>'
            ></div>
            <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" ng-if="!noMoreData" icon="ion-load-d" distance="1%">
            </ion-infinite-scroll>
        </ion-content>
    </script>
</body>
</html>
