<html ng-app="FastORZ">
<head>
    <title>{{'fastorz'|translate}}</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ionic/ionic.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4921da79285134f7c1f8a784ab6412cc";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body ng-controller="FastORZCtrl">
    <div id="openID" alt="oSQ8KtyMMYjg1EShzzrZr85MFlIE"></div>
    <div id="state" alt="userCenter"></div>
    <ui-view/>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="/static/js/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/lib/clipboard/clipboard.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-translate/angular-translate.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script type="text/javascript" src="/static/js/lib/ionic/ionic.js"></script>
    <script type="text/javascript" src="/static/js/lib/ionic/ionic-angular.js"></script>
    <script type="text/javascript" src="/static/js/lib/angular-deckgrid/angular-deckgrid.js"></script>
    <script type="text/javascript" src="/static/js/lib/ionic-image-lazy-load/ionic-image-lazy-load.js"></script>
    <script type="text/javascript" src="/static/js/fastorz.js"></script>
</body>
</html>
